<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <label for="my-drawer" class="btn btn-primary drawer-button">menu</label>
  </div>
  <div class="drawer-side">


    <label for="my-drawer" class="drawer-overlay"></label>
    <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
      <!-- Sidebar content here -->
      <li><a routerLink="/today">Today</a></li>
      <li><a routerLink="/journal">Journal</a></li>
      <!-- <li><a>Calender</a></li>-->

      <li><a>logout</a></li>

    </ul>
  </div>
</div>