<div class="flex justify-center">
    <h1 class="text-2xl ss">Journal heeeree ...</h1>
</div>


<div class="width=50vw" >
    
<div class="form-control">
    <label class="label">
        <span class="label-text">Title</span>
    </label>
    <input type="text" [(ngModel)]="cardinfo.title" placeholder="title" class="input input-bordered" />
</div>

<div class="form-control">
    <label class="label">
        <span class="label-text">New entry</span>
    </label>
    <textarea class="textarea textarea-bordered" [(ngModel)]="cardinfo.body" placeholder="entry"></textarea>
</div>

<div><button class="btn btn-wide flex justify-center rr" (click)="create()">Done</button></div>

</div>
