

  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center text:lg">
     <h1 class="text-5xl font-bold">Register now!</h1>
       
      </div>
      <div class="card flex card-compact  flex w-full max-w shadow-2xl bg-base-100">
        <div class="card-body form">
          
            <div class="form-control">
                <label class="label">
                  <span class="label-text">lastname</span>
                </label>
                <input type="text" placeholder="lastname" class="input input-bordered" />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Firstname</span>
                </label>
                <input type="text" placeholder="name" class="input input-bordered" />
              </div>
            <div class="form-control">
                <label class="label">
                  <span class="label-text">Email</span>
                </label>
                <input type="text" placeholder="email" class="input input-bordered" />
              </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="text" placeholder="password" class="input input-bordered" />
            
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary ma">Login</button>
          </div>

          <div class="justify-center"> 
            <p class="text">
            Already have an account,<a
              class="link link-hover"
              routerLink="/login"
              id="txtLogin">
              Login</a>
           </div>
        </div>
      </div>
    </div>
  </div>


